<script setup lang="ts">
import { LanguageTuple } from '@controller/src/types'
import SortableList from '@src/components/SortableList.vue';
import EditDialogLangTuple from './EditDialogLangTuple.vue'

const props = defineProps<{
  langs: LanguageTuple[],
}>()

const emit = defineEmits<{
  (e: 'update:langs', value: LanguageTuple[]): void
}>()

const removeLang = (index: number) => {
  const langs = [...props.langs]
  langs.splice(index, 1)
  emit('update:langs', langs)
}
</script>

<template>
  <div class="langs">
    <SortableList
      class="sortable-list"
      group="langs"
      :items="langs"
      :idFunction="((lang: LanguageTuple) => `${lang.accepts}:${lang.provides}`)"
      @update="emit('update:langs', $event)"
    >
      <template #default="{ item: lang, index }">
        <EditDialogLangTuple
          :accepts="lang.accepts"
          :provides="lang.provides"
          @remove="removeLang(index)"
        />
      </template>
    </SortableList>
  </div>
</template>

<style scoped>
.langs .sortable-list {
  padding-block: 1em;
  padding-inline: 0;
  margin: 0;
}
</style>
