
<script setup lang="ts">
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import LanguageBadge from '../LanguageBadge.vue'

defineProps<{
  accepts: string,
  provides: string,
}>()

const emit = defineEmits<{
  (e: 'remove'): void
}>()
</script>

<template>
  <div class="flex">
    <div class="tuple">
      <LanguageBadge :code="accepts" />
      <div class="arrow">&rarr;</div>
      <LanguageBadge :code="provides" />
    </div>
    <button @click="emit('remove')" class="secondary trash">
      <font-awesome-icon icon="fa-solid fa-trash" size="xs" />
    </button>
  </div>
</template>

<style scoped>
.flex {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing)*2);
}
.tuple {
  display: flex;
  align-items: center;
}
.arrow {
  margin-left: var(--spacing);
  margin-right: var(--spacing);
}
.trash {
  margin: 0;
  --form-element-spacing-vertical: calc(var(--spacing)*0.4);
  --form-element-spacing-horizontal: calc(var(--spacing)*0.8);
}
</style>
