<script setup lang="ts">
import { computed, ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { Element, LanguageTuple } from '@controller/src/types'
import useConfigStore from '@src/stores/config'
import LanguageBadge from '../LanguageBadge.vue'
import EditDialogLangList from './EditDialogLangList.vue'

const { t } = useI18n()
const configStore = useConfigStore()

const props = defineProps<{
  interpreter: Element,
  enabledLangs: string[]
}>()

const emit = defineEmits<{
  (e: 'update', int: Partial<Element> & {id: string}): void,
}>()

const interpreterNumber = computed(() => props.interpreter.id.slice(3))

const highPriorityLangs = ref<LanguageTuple[]>([]);
const normalPriorityLangs = ref<LanguageTuple[]>([]);
const lowPriorityLangs = ref<LanguageTuple[]>([]);
const isOpen = ref(false)
const selectedAcceptLang = ref('')

const open = () => {
  highPriorityLangs.value = props.interpreter.langs.filter(l => l.priority === configStore.interpreterLanguageTuplePriorities.high)
  normalPriorityLangs.value = props.interpreter.langs.filter(l => !l.priority || (l.priority === configStore.interpreterLanguageTuplePriorities.normal))
  lowPriorityLangs.value = props.interpreter.langs.filter(l => l.priority === configStore.interpreterLanguageTuplePriorities.low)
  isOpen.value = true
  selectedAcceptLang.value = ''
}

const close = () => {
  isOpen.value = false
}

defineExpose({
  open,
  close,
})

const addLanguageTuple = (accepts: string, provides: string) => {
  if (accepts === provides) return
  if (!missingProvideLangs.value.includes(accepts)) return

  const newLanguage = {
    priority: configStore.interpreterLanguageTuplePriorities.normal,
    accepts,
    provides,
  }
  normalPriorityLangs.value.push(newLanguage)
}

const allLangTuples = computed(() => ([
  ...highPriorityLangs.value.map((tuple) => ({ ...tuple, priority: configStore.interpreterLanguageTuplePriorities.high })),
  ...normalPriorityLangs.value.map((tuple) => ({ ...tuple, priority: configStore.interpreterLanguageTuplePriorities.normal })),
  ...lowPriorityLangs.value.map((tuple) => ({ ...tuple, priority: configStore.interpreterLanguageTuplePriorities.low })),
]))

const missingProvideLangs = computed(() => {
  return props.enabledLangs.filter((lang) => {
    return !allLangTuples.value.find(l => l.accepts === selectedAcceptLang.value && l.provides === lang)
  })
})

const update = () => {
  emit('update', {
    id: props.interpreter.id,
    langs: allLangTuples.value,
  })
  close()
}
</script>

<template>
  <Teleport to="body">
    <dialog ref="modal" :open="isOpen">
      <article>
        <header>
          <h3><font-awesome-icon icon="fa-solid fa-headset" />
            {{ t('settings.editInterpreter') }} {{ interpreterNumber }}
          </h3>
        </header>
        <div class="content grid">
          <div>
            <h4>Add a language tuple</h4>
            <p>
              <div>I can interpret...</div>
              <LanguageBadge
                v-for="lang in enabledLangs"
                :key="lang"
                :code="lang"
                clickable
                class="lang-button"
                :class="{light: lang !== selectedAcceptLang}"
                @click="selectedAcceptLang = lang"
              />
            </p>
            <p v-if="selectedAcceptLang" class="provided-lang">
              <div>to...</div>
              <LanguageBadge
                v-for="lang in enabledLangs"
                :key="lang"
                :code="lang"
                clickable
                class="lang-button light"
                :disabled="lang === selectedAcceptLang || !missingProvideLangs.includes(lang)"
                @click="addLanguageTuple(selectedAcceptLang, lang)"
              />
            </p>
          </div>

          <div class="list" v-if="allLangTuples.length > 0">
            <h4>Choose your priorities</h4>
            <h6>I feel really comfortable with</h6>
            <EditDialogLangList v-model:langs="highPriorityLangs" />
            <h6>No preference</h6>
            <EditDialogLangList v-model:langs="normalPriorityLangs" />
            <h6>Only if really required</h6>
            <EditDialogLangList v-model:langs="lowPriorityLangs" />
          </div>
        </div>

        <footer>
          <button @click.prevent="close()" role="button" class="secondary">Cancel</button>
          <button @click.prevent="update()" role="button">Confirm</button>
        </footer>
      </article>
    </dialog>
  </Teleport>
</template>

<style scoped>
article {
  min-width: 40em;
}
header {
  margin-bottom: var(--spacing);
}
header h3,
.list h6 {
  margin: 0;
}
.content {
  min-height: 13em;
}
.lang-button {
  margin-right: calc(var(--spacing)*0.2);
}
.light {
  opacity: 0.6;
}

footer button {
  width: auto;
}
</style>
