<script setup lang="ts">
import { computed, ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { Element } from '@controller/src/types'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import LanguageBadge from '../LanguageBadge.vue'
import InterpreterEditDialog from './InterpreterEditDialog.vue'

const { t } = useI18n()

const props = defineProps<{
  interpreter: Element,
  enabledLangs: string[]
}>()
const emit = defineEmits<{
  (e: 'delete'): void,
  (e: 'update', int: Partial<Element>): void,
}>()

const onDeleteClick = () => {
  emit('delete')
}

const interpreterNumber = computed(() => props.interpreter.id.slice(3))

const sortedLangs = computed(() => {
  return props.interpreter.langs.sort((a,b) => {
    return (b.priority ?? 1.0)-(a.priority ?? 1.0)
  })
})

const editDialog = ref<InstanceType<typeof InterpreterEditDialog> | null>(null)
const openEditDialog = () => {
  if (!editDialog.value) return
  editDialog.value.open()
}

defineExpose({
  openEditDialog,
})
</script>

<template>
  <li class="interpreter">
      <h4 class="head">
        <div>
          <font-awesome-icon icon="fa-solid fa-headset" />
          {{ t('settings.interpreter') }}
          {{ interpreterNumber }}
        </div>
        <div>
          <button @click="openEditDialog()">
            <font-awesome-icon icon="fa-solid fa-pencil" size="xs" />
          </button>
          <button class="secondary" @click.prevent="onDeleteClick">
            <font-awesome-icon icon="fa-solid fa-trash" size="xs" />
          </button>
        </div>
      </h4>

      <ul class="langs">
        <li v-for="tuple of sortedLangs" class="tuple">
          <LanguageBadge :code="tuple.accepts!" class="lang-badge" />
          <div class="arrow">&darr;</div>
          <LanguageBadge :code="tuple.provides!" class="lang-badge" />
        </li>
      </ul>

    <InterpreterEditDialog
      ref="editDialog"
      :interpreter="interpreter"
      :enabledLangs="enabledLangs"
      @update="$emit('update', $event)"
    />
  </li>
</template>

<style scoped>
section {
  max-width: 20rem;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
h4 {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
ul.langs {
  display:flex;
  margin-left: calc(var(--spacing)*1.8);
  margin-top: 0;
}
.tuple {
  display: flex;
  flex-direction: column;
  margin-right: calc(var(--spacing)*0.5);
  align-items: center;
}
.arrow {
  line-height: 1em;
  font-size: 0.8em;
}
.lang-badge {
  --spacing: 1px;
  font-size: 0.7em;
}
.head button {
  --form-element-spacing-vertical: 2px;
  --form-element-spacing-horizontal: 0.9em;
  display: inline-block;
  margin-left: var(--spacing);
  width: auto;
}
</style>
