<script setup lang="ts">
import StageLanguagePicker from "./StageLanguagePicker.vue";
</script>

<template>
  <footer>
    <div class="language-label">Floor Language</div>
    <stage-language-picker />
  </footer>
</template>



<style scoped>
.language-label {
  align-self: left;
  font-weight: bold;
}
footer {
  display: flex;
  flex-direction: column;
  border-top: var(--border-width) solid var(--code-color);
  padding: var(--spacing);
  overflow-x: auto;
}
</style>
