<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from 'vue'
import useMixerStore from '../stores/mixer'
import useConfigStore from '../stores/config'
import MixerMatrixConnection from './MixerMatrixConnection.vue'
const mixerStore = useMixerStore()
const configStore = useConfigStore()
const connections = computed(() => {
    return mixerStore.connections
})
const inputCount = computed(() => mixerStore.inputChannelCount)
const outputCount = computed(() => mixerStore.outputChannelCount)
const lineHeight = 25
</script>

<template>
    <div>
        <svg>
            <g v-for="i in Math.max(inputCount, outputCount)" :key="i">
              <g v-if="i <= inputCount">
                <text x="45" :y="i*lineHeight-2" text-anchor="end" font-size="smaller">{{ configStore.getIdForChannel('in', i) }}</text>
                <text x="75" :y="i*lineHeight" text-anchor="end">{{i}}</text>
                <circle cx="85" :cy="i*lineHeight-7" r="3" />
              </g>
              <g v-if="i <= outputCount">
                <text x="310" :y="i*lineHeight">{{i}}</text>
                <circle cx="300" :cy="i*lineHeight-7" r="3" />
                <text x="340" :y="i*lineHeight-2" font-size="smaller">{{ configStore.getIdForChannel('out', i) }}</text>
              </g>
            </g>
            <MixerMatrixConnection
                v-for="c in connections"
                :key="JSON.stringify(c)"
                :input="c.input"
                :output="c.output"
                :gain="c.gain" />
        </svg>
    </div>
</template>

<style scoped>
svg {
    height: 800px;
    width: 400px;
}
</style>
