
<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps<{
    input: number,
    output: number
    gain: number
}>()

const lineHeight = 25

const curve = computed(() => {
    const startY = props.input*lineHeight-7
    const endY = props.output*lineHeight-7
    return `M 85,${startY} C 175,${startY} 210,${endY} 300,${endY}`
})

</script>

<template>
    <path :d="curve" stroke="var(--color)" stroke-width="2" fill="none" :opacity="gain/1.3" />
</template>
