<script setup lang="ts">
import { ref, onMounted } from 'vue'
import Sortable from 'sortablejs'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

const props = withDefaults(defineProps<{
  items: any[],
  group: string,
  idFunction?: (item: any) => string,
}>(), {
  idFunction: (item: any) => item.id,
})

const emit = defineEmits<{
  (e: 'update', value: any[]): void
}>()

const sortableArea = ref<HTMLDivElement | null>(null)
onMounted(() => {
  if (!sortableArea.value) return

  Sortable.create(sortableArea.value, {
    animation: 200,
    group: props.group,
    handle: '.handle',
    draggable: '.draggable',
    ghostClass: 'ghost',
    onStart: (event: Sortable.SortableEvent) => {
      if (event.oldIndex === undefined) return
      // @ts-ignore
      event.item.sortableItem = props.items[event.oldIndex];
    },
    onAdd: (event: Sortable.SortableEvent) => {
      if (event.newIndex === undefined) return
      const items = [...props.items];
      // @ts-ignore
      items.splice(event.newIndex, 0, event.item.sortableItem);
      emit('update', items);
    },
    onRemove: (event: Sortable.SortableEvent) => {
      if (event.oldIndex === undefined) return
      const items = [...props.items];
      items.splice(event.oldIndex, 1);
      emit('update', items);
    },
    onUpdate: (event: Sortable.SortableEvent) => {
      if (event.newIndex === undefined || event.oldIndex === undefined) return
      const items = [...props.items];
      items.splice(event.newIndex, 0, items.splice(event.oldIndex, 1)[0]);
      emit('update', items);
    },
  })
})
</script>

<template>
  <ul ref="sortableArea">
    <li
      v-for="(item, index) in items"
      :key="idFunction(item)"
      class="draggable"
    >
      <font-awesome-icon icon="fa-solid fa-bars" class="handle" />
      <slot
        :item="item"
        :index="index"
      />
    </li>
  </ul>
</template>

<style scoped>
li {
  list-style: none;
  display: flex;
  align-items: center;
}
.handle {
  margin-right: var(--spacing);
  cursor: move;
}
.ghost {
  opacity: 0.5;
}
</style>
