<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from "vue";
import usePrefsStore from "../stores/preferences";
import { getLanguageColor } from "../utils/language";
import { isTouchDevice } from "../utils/touch";
const prefs = usePrefsStore();

const languages = computed(() => prefs.enabledLangs);
const curLanguage = computed(() => prefs.stageLanguage);

const setLanguage = (lang: string) => {
  prefs.setStageLanguage(lang);
};

const isTouch = isTouchDevice()
const onKeyPress = (e: any) => {
  if(isTouch) return

  const digit = parseInt(e.key)
  // is selectable language?
  if (digit < 1 || digit > languages.value.length) return

  const lang = languages.value[digit-1]
  if(!lang) return
  setLanguage(lang)
}

onMounted(() => {
  window.addEventListener('keyup', onKeyPress);
})

onUnmounted(() => {
  window.removeEventListener('keyup', onKeyPress);
})

</script>

<template>
  <div>
    <div class="button-group">
      <a
        v-for="(lang, index) of languages"
        href="#"
        role="button"
        :key="lang"
        :style="`--background-color: ${getLanguageColor(lang)}`"
        :class="curLanguage == lang ? 'active secondary' : 'secondary'"
        @click="setLanguage(lang)"
      >
        <div v-if="!isTouch" class="hotkey">{{ index+1 }}</div>
        {{ lang }}
      </a>
    </div>
  </div>
</template>

<style scoped>
/* taken from https://github.com/picocss/pico/pull/164 */
/* can be removed after the PR got merged */
.button-group > a {
  opacity: 0.3;
  padding-left: 2em;
  padding-right: 2em;
}
.button-group > a.active {
  border-left: 1;
}
.button-group > a.active,
.button-group a.active:hover {
  opacity: 1;
}
.button-group > a:hover {
  opacity: 0.4;
}

/**
 * Input group and button group
 */

.button-group {
  /* // Stick buttons together */
  display: flex;
}

/* // Buttons have no margin-bottom set */
.button-group > button,
.button-group > label,
.button-group > select,
.button-group > input:not([type="checkbox"]):not([type="radio"]) {
  margin-bottom: 0;
}

/* // No round corners in button groups */
.button-group > button:not(:last-child),
.button-group > [role="button"]:not(:last-child),
.button-group > input:not(:last-child),
.button-group > select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  /* border-right: 0;*/
}

.button-group > [role="button"]:not(:first-child),
.button-group > input:not(:first-child),
.button-group > button:not(:first-child),
.button-group > select:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /* border-left: 0; */
}

/* // Radio groups need a text label */
.input-group > [type="radio"] ~ label {
  margin-right: 0;
}

/* // The selected radio button will be outlined when outline class is choose and in reverse */
.input-group:not(.outline)
  > input[type="radio"]:not(:checked)
  + label[role="button"],
.input-group.outline > input[type="radio"]:checked + label[role="button"] {
  --background-color: transparent;
  --color: var(--color);
}

.button-group > a {
  position: relative;
}
.hotkey {
  position: absolute;
  top: 0;
  left: 0.5em;
  font-size: 0.8em;
  opacity: 0.5;
}
</style>
