<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from "vue";
import useMeterStore from "../stores/meter";
import usePrefsStore from "../stores/preferences";
const props = defineProps<{ channel: number, type: 'input'|'output', gain: number }>();

const meterStore = useMeterStore();
const prefsStore = usePrefsStore();


const volume = computed(() => {
  if(props.type == 'input') {

    return meterStore.getInputVolume(props.channel) * props.gain;

  } else {
    return meterStore.getOutputVolume(props.channel);
  }
});

</script>
<template>
  <div class="meter">
      <div v-for="i in 4" :key="i" :class="['red', volume > 1+(3-i)*0.1 ? 'active' : null]" />
      <div v-for="i in 4" :key="i" :class="['yellow', volume > 0.7+(5-i)*0.05 ? 'active' : null]" />
      <div v-for="i in 14" :key="i" :class="['green', volume > (14-i)*0.05 ? 'active' : null]" />
  </div>
</template>
<style scoped>
.meter {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 1em;
}
.meter > div {
  width: 4px;
  flex-grow: 1;
  margin-bottom: 1px;
  opacity: 0.3
}
.meter > div.active {
  opacity: 1;
}
.red {
  background-color: red;
}
.yellow {
  background-color: rgb(255, 231, 52);
}
.green {
  background-color: green;
}
</style>
