<script setup lang="ts">
import { onMounted, onUnmounted, ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import usePrefsStore from '../../stores/preferences'
const { t } = useI18n()
const prefs = usePrefsStore()

const isModalOpen = ref(false)
const onToggleClick = (e: MouseEvent) => {
  if(prefs.outputActive) {
    if(e.ctrlKey) {
      // if ctrl key was pressed, immediately deactivate the output without confirmation
      prefs.setOutputActive(false)
    } else {
      isModalOpen.value = true
    }
  } else {
    prefs.setOutputActive(true)
  }
}

const onConfirm = () => {
  prefs.setOutputActive(false)
  isModalOpen.value = false
}

const onKeyPress = (ev: KeyboardEvent) => {
  if (ev.key === 'Escape') {
      isModalOpen.value = false
  }
}

onMounted(() => {
  document.addEventListener('keyup', onKeyPress)
})

onUnmounted(() => {
  document.removeEventListener('keyup', onKeyPress)
})

</script>

<template>
  <li>
    <div
      :data-tooltip="t(prefs.outputActive ? 'nav.outputtoggle.tooltipActive' : 'nav.outputtoggle.tooltip')"
      data-placement="left"
    >
      <font-awesome-icon icon="fa-solid fa-tower-broadcast" />
      <input type="checkbox" :checked="prefs.outputActive" id="switch" name="switch" role="switch" @click.prevent="onToggleClick" />
      <small>{{ t('nav.outputtoggle.label') }}</small>
    </div>

    <dialog ref="modal" :open="isModalOpen">
      <article>
        <h3>{{ t('nav.outputtoggle.confirmDisableTitle') }}</h3>
        <p>
          {{ t('nav.outputtoggle.confirmDisableText') }}
        </p>
        <footer>
          <a href="#cancel"
            role="button"
            class="secondary"
            data-target="modal-example"
            @click="isModalOpen = false">
            {{ t('cancel') }}
          </a>
          <a href="#confirm"
            role="button"
            data-target="modal-example"
            @click="onConfirm">
            {{ t('confirm') }}
          </a>
        </footer>
      </article>
    </dialog>
  </li>
</template>



<style scoped>
li > div[data-tooltip] {
  border: none;
}
li > div {
  text-align: center;
}
input[type="checkbox"] {
  margin-left: 0.4em;
}
dialog {
  --spacing: 1em;
}
dialog [role="button"] {
  margin: 0;
}

</style>
