<script setup lang="ts">
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import usePrefsStore from '../../stores/preferences'
import useStatusStore from '../../stores/status'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()

const store = useStatusStore()
const prefs = usePrefsStore()
</script>

<template>
  <li v-if="store.errors.length || store.warnings.length" role="list" >
    <summary aria-haspopup="listbox" :class="store.errors.length ? 'has-errors' : 'has-warnings'" >
      <font-awesome-icon icon="fa-solid fa-triangle-exclamation" />
    </summary>
    <ul role="listbox">
      <li v-for="error in store.errors" :key="error" class="error">
        <strong>{{ t('status.label.' + error) }}</strong>
        <div>
          <small>{{ t('status.help.' + error) }}</small>
        </div>
      </li>
      <li v-for="warning in store.warnings" :key="warning" class="warning">
        {{  t('status.label.' + warning) }}
        <div v-if="warning == 'langMissing'"><small>{{ prefs.missingLanguages.join(', ') }}</small></div>
      </li>
    </ul>
  </li>
</template>

<style scoped>
.has-errors {
  color: red
}
.has-warnings {
  color: yellow;
}
.error {
  background-color: rgba(255, 0,0, 0.3);
}
.warning {
  background-color: rgba(255, 255,0, 0.3);
}
li.warning, li.error {
  min-width: 420px;
  white-space: normal;
  font-size: 0.9em;
  margin-bottom: 1px;
}
li[role="list"] > ul li:first-of-type {
  margin-top: 0;
}
li[role="list"] > ul li:last-of-type {
  margin-bottom: 0;
}

</style>
