<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from "vue";
import useConfigStore from "../../stores/config";
import usePrefsStore from "../../stores/preferences";

import VuMeter from '../VuMeter.vue'
const props = defineProps<{ id: string, type: 'input'|'output', noFader?: boolean }>();

const config = useConfigStore()
const prefs = usePrefsStore()

const channel = computed(() => {
  if(props.type == 'input')  {
    return config.getInputChannelById(props.id)
  } else {
    return config.getOutputChannelById(props.id)
  }
})


const gain = computed(() => {
  const element = prefs.elements.find(el => el.id == props.id)
  if(props.type == 'input') {
    return element?.provideGain ?? 1
  } else {
    return element?.acceptGain ?? 1
  }
})

const wrapper = ref(null);
const height = ref(0);

function handleResize() {
  // @ts-ignore
  height.value = wrapper.value?.clientHeight;
}
onMounted(() => {
  handleResize();
  window.addEventListener("resize", handleResize);
});
onUnmounted(() => {
  window.removeEventListener("resize", handleResize);
});

let timer: NodeJS.Timeout|number


function onSliderChange(e: any) {
  // debounce
  clearTimeout(timer)
  timer = setTimeout(() => {
    if(props.type == 'input') {
      prefs.setElementProvideGain(props.id, e.target.value/100)
    } else {
      prefs.setElementAcceptGain(props.id, e.target.value/100)
    }
  }, 200)
}
</script>

<template>
  <div ref="wrapper" class="channel-wrapper">
    <vu-meter :channel="channel" :type="type" :gain="type == 'input' ? gain : 1" />
    <input v-if="!noFader" type="range" min="0" max="200" :value="Math.round(gain*100)" :style="`width: ${height}px`" @change="onSliderChange" @input="onSliderChange">
  </div>
</template>


<style scoped>
.channel-wrapper {
  width: 3em;
  padding-left: 0.4em;
  height: 100%;
  margin-left: 0.3em;
  margin-right: 0.8em;
  align-self: center;
}
input[type="range"] {
  transform: rotate(270deg);
  transform-origin: top left;
  margin: 0;
  margin-left: 1.3em;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid var(--color);
  height: 35px;
  width: 20px;
  border-radius: 10px;
  background: var(--background-color);
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--secondary);
  border-radius: 10px;
  border: 1px solid var(--background-color);
}


</style>
