<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from "vue";
import useConfigStore from "../../stores/config";
import { getLanguageColor } from "../../utils/language";
import { rgbTransparency } from '../../utils/colors'
const props = defineProps<{ lang: string, selectOptions?: string[]  }>();

const config = useConfigStore()

const color = computed(() => rgbTransparency(getLanguageColor(props.lang), 0.3))

</script>

<template>
  <div class="channel-lang" :style="{backgroundColor: color}">
    {{ lang || '-' }}
  </div>
</template>
