<script setup lang="ts">
import { computed } from "vue";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { ElementType, Element } from "@controller/src/types";
import usePrefsStore from "@src/stores/preferences";
import { calculateFrequency } from '@src/utils/frequencies';
import MixerChannel from "./MixerChannel.vue";
import MixerLanguage from "./MixerLanguage.vue";
const props = defineProps<{ id: string }>();

const prefs = usePrefsStore();

const element = computed(() => prefs.elements.find((e) => e.id === props.id) as Element);
const curRouting = computed(() => prefs.currentGraph.find((e) => e.id === props.id));
const number = computed(() => props.id.match(/\d+/)?.[0]);
const elementIcon = computed(() => {
  switch (element.value?.type) {
    case ElementType.Stage:
      return "fa-solid fa-couch";
    case ElementType.Interpreter:
      return "fa-solid fa-headset";
    case ElementType.Transmitter:
      return 'fa-solid fa-tower-broadcast'
    default:
      return "fa-solid fa-question";
  }
});


const elProvides = computed(
  () =>
    element.value &&
    [ElementType.Interpreter, ElementType.Stage].includes(
      element.value.type
    )
);
const elAccepts = computed(
  () =>
    element.value &&
    [ElementType.Interpreter, ElementType.Transmitter].includes(element.value.type)
);

const frequency = computed(() => {
  return calculateFrequency(prefs.txBaseFreq, element.value.txChannel as number)
})

const micIcon = computed(() => {
  if(element.value.isOutputMuted) {
    return 'fa-solid fa-microphone-slash'
  } else {
    return 'fa-solid fa-microphone'
  }
})


const toggleMute = () => {
  const curState = element.value.isOutputMuted
  prefs.setElementOutputMute(props.id, !curState)
}

</script>

<template>
  <div v-if="element" class="element">
    <div class="channels">
      <div v-if="elAccepts" class="channel">
        <mixer-channel :id="element.id" type="output" />
        <div v-if="element.type != ElementType.Transmitter" class="channel-icon"><font-awesome-icon icon="fa-solid fa-headphones" /></div>
        <div v-else-if="element.txChannel || element.txChannel === 0" class="frequency">
          {{ frequency }}<span>MHz</span>
        </div>
        <div v-else class="frequency">
          -
        </div>
        <mixer-language :lang="curRouting?.accepts || ''" />
      </div>
      <div v-if="elProvides" class="channel">
        <mixer-channel :id="element.id" type="input" />
        <div class="channel-icon"><button :class="'secondary'+(element.isOutputMuted ? ' active' : '')" @click="toggleMute"><font-awesome-icon :icon="micIcon" /></button></div>
        <mixer-language :lang="curRouting?.provides || ''"/>
      </div>
    </div>
    <div class="footer">
      <font-awesome-icon :icon="elementIcon" />
      <span v-if="element.type == ElementType.Interpreter">{{ number }}</span>
    </div>
  </div>
</template>



<style scoped>
.element {
  border-left: 1px solid var(--color);
  display: flex;
  flex-direction: column;
  /* max-width: em; */
}
.element:first-child {
  border-left: none;
}
.footer {
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  padding: 0.6em 0.1em;
}
.footer span {
  margin-left: 0.3em;
}
.channels {
  display: flex;
  width: 100%;
  flex-grow: 1;
  padding-top: var(--spacing);
}
.channel {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: var(--spacing);
}
.channel:nth-child(n+1) {
  border-left: 1px dotted var(--color);
}
.channel-icon {
  margin-top: var(--spacing);
  margin-bottom: 0.3em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}
.channel-icon > svg {
  margin: 0.55em 0;
}
.channel-icon button {
  margin: 0;
  padding: 0.4em 0;
  background: none;
  border: 1px solid rgba(128, 128, 128, 0.4);
}
.channel-icon button.active {
  background: rgba(255, 0, 0, 0.3);
}
.frequency {
  padding: 0.2em;
  margin: var(--spacing) 0;
  font-size: 0.9em;
  font-family: monospace;
}
.frequency span {
  font-size: 0.6em;
  margin-left: 0.3em;
}
</style>
