<script setup lang="ts">
import { computed, ref, nextTick } from 'vue'
import { useI18n } from 'vue-i18n'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { Element, ElementType } from '@controller/src/types'
import useConfigStore from '@src/stores/config'
import InterpreterEntry from './interpreter/InterpreterEntry.vue'

const configStore = useConfigStore()

const { t } = useI18n()

const props = defineProps<{
  interpreters: Element[],
  enabledLangs: string[]
}>()


const isMaxInterpreterReached = computed(() => {
  return props.interpreters.length >= configStore.maxInterpreter
})
const interpretersSorted = computed(() => {
  return props.interpreters.sort((a,b) => parseInt(a.id.slice(3)) - parseInt(b.id.slice(3)))
})

const emit = defineEmits<{
  (e: 'update:interpreters', value: Element[]): void
}>()

const interpreterEntries = ref<InstanceType<typeof InterpreterEntry>[]>([])

const addInterpreter = async () => {
  let nextId = 1
  while(props.interpreters.find(i => i.id === `int${nextId}`)) {
    nextId++;
  }
  const newInterpreters = [
    ...props.interpreters,
    {
      id: `int${nextId}`,
      type: ElementType.Interpreter,
      langs: [],
    }
  ]
  emit('update:interpreters', newInterpreters)
  await nextTick()
}
const deleteInterpreter = (id: string) => {
  emit('update:interpreters', props.interpreters.filter(int => int.id !== id))
}

const updateInterpreter = (interpreter: Partial<Element>) => {
  const interpreters = [...props.interpreters]
  const index = interpreters.findIndex(e => e.id === interpreter.id)
  interpreters[index] = {
    ...interpreters[index],
    ...interpreter
  }

  emit('update:interpreters', interpreters)
}
</script>

<template>
  <section>
    <h3>{{ t('settings.whoIsInterpreting') }}</h3>
    <p>
      {{ t('settings.whoIsInterpretingDescription') }}
    </p>
    <ul>
      <InterpreterEntry
        v-for="interpreter in interpretersSorted"
        :key="interpreter.id"
        :interpreter="interpreter"
        :enabledLangs="enabledLangs"
        @delete="deleteInterpreter(interpreter.id)"
        @update="updateInterpreter"
        ref="interpreterEntries"
      />
      <form v-if="!isMaxInterpreterReached" @submit.prevent="addInterpreter">
        <button class="secondary" type="submit">
          <font-awesome-icon icon="fa-solid fa-circle-plus" />
          {{ t('settings.addInterpreter') }}
        </button>
      </form>
    </ul>
  </section>
</template>

<style scoped>
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
</style>
