<script setup lang="ts">
import { ref, toRefs } from 'vue'
import { useI18n } from 'vue-i18n'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { useLanguagesFromCodes } from '@src/composables/useLanguageFromCode'
import LanguageBadge from './LanguageBadge.vue'
import LanguageAddDialog from './LanguageAddDialog.vue'
import FormError from './FormError.vue'
import { isLanguageCodeValid } from '../../utils/language'

const { t } = useI18n()

const props = defineProps<{
  enabledLangCodes: string[],
}>()
const { enabledLangCodes } = toRefs(props)
const emit = defineEmits<{
  (e: 'update:enabledLangCodes', value: string[]): void
}>()

const enabledLangs = useLanguagesFromCodes(enabledLangCodes)
const isLanguageAddDialogOpen = ref(false)


const addLanguage = (newLang: string) => {
  if (newLang === null || !isLanguageCodeValid(newLang) || enabledLangCodes.value.includes(newLang)) {
    return
  }

  emit('update:enabledLangCodes', [...enabledLangCodes.value, newLang])
  isLanguageAddDialogOpen.value = false
}
const deleteLanguage = (deletedCode: string) => {
  emit('update:enabledLangCodes', enabledLangCodes.value.filter((code) => code !== deletedCode))
}

</script>

<template>
  <section>
    <h3>{{ t('settings.whichLanguages') }}</h3>
    <p>
      {{ t('settings.whichLanguagesDescription') }}
    </p>
    <ul>
      <li v-for="lang in enabledLangs" :key="lang.code" class="lang">
        <LanguageBadge :code="lang.code" class="lang-badge" />
        <span class="lang-label">{{ lang.name }}</span>
        <button class="secondary lang-delete" @click="deleteLanguage(lang.code)">
          <font-awesome-icon icon="fa-solid fa-trash" size="xs" />
        </button>
      </li>
      <button class="secondary" @click="isLanguageAddDialogOpen = true">
          <font-awesome-icon icon="fa-solid fa-circle-plus" />
          {{ t('settings.addLanguage') }}
        </button>

      <dialog ref="modal" :open="isLanguageAddDialogOpen">
        <LanguageAddDialog :enabledLang="enabledLangCodes" @close="isLanguageAddDialogOpen = false" @add="addLanguage" />
      </dialog>
    </ul>
  </section>
</template>

<style scoped>
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
.lang {
  display: flex;
  gap: var(--spacing);
  align-items: center;
}

.lang-badge {
  flex: 0 0 auto;
}
.lang-label {
  flex: 1 1 100%;
}
.lang-delete {
  --form-element-spacing-vertical: 2px;
  --form-element-spacing-horizontal: 0.9em;
  flex: 0 1 auto;
  margin: 0;
  width: auto;
}

.new-lang button {
  width: fit-content;
}
</style>
