<script setup lang="ts">
import { useLanguageFromCode } from '@src/composables/useLanguageFromCode'
import { getLanguageColor } from "@src/utils/language";
import { rgbTransparency } from '@src/utils/colors'
import { computed } from 'vue';

const props = withDefaults(defineProps<{
  code: string,
  clickable?: boolean
  disabled?: boolean
}>(), {
  clickable: false,
  disabled: false,
})

const language = useLanguageFromCode(props.code)
const color = computed(() => (
  props.disabled ? rgbTransparency('#aaaaaa', 0.3) : rgbTransparency(getLanguageColor(props.code), 0.3))
)

const component = computed(() => props.clickable ? 'button' : 'div')
</script>

<template>
  <component
    :is="component"
    class="badge"
    :data-tooltip="language"
    :style="{backgroundColor: color}"
    :disabled="disabled"
  >
    {{ code }}
  </component>
</template>

<style scoped>
.badge {
  --badge-padding: calc(var(--spacing) / 2);
  display: inline-block;
  padding: var(--badge-padding);
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  width: calc(2.3em + 2 * var(--badge-padding));
}
button.badge {
  border: 1px solid var(--color);
}
button {
  margin-bottom: 0;
}
button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
</style>
