<script setup lang="ts">
import { computed, ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { useLanguagesFromCodes } from '@src/composables/useLanguageFromCode'
import LanguageBadge from './LanguageBadge.vue'
import useConfigStore from '@src/stores/config'
import { getAllLanguageCodes } from '../../utils/language'

const configStore = useConfigStore()

const props = defineProps<{ enabledLang: string[] }>();

const { t } = useI18n()
const langs = useLanguagesFromCodes(getAllLanguageCodes())

const emit = defineEmits<{
  (e: 'close'): void,
  (e: 'add', lang: string): void
}>()

const filter = ref('')

const sorted = computed(() => {
  const most = configStore.languagesSpotlight.map(code => langs.value.find(l => l.code === code))
  const other = langs.value.filter(l => !configStore.languagesSpotlight.includes(l.code))
  const short = other.filter(l => l.code.length === 2)
  const long = other.filter(l => l.code.length !== 2)
  return [
    ...most,
    ...short,
    ...long
  ] as Array<{ code: string, name: string }>
})

const filtered = computed(() => {
  const filterLowerCase = filter.value.toLowerCase()
  return sorted.value.filter(l => {
    if(!l?.code) return false
    if(props.enabledLang.includes(l.code)) return false
    if(!filter.value.length) return true
    if(l.code.includes(filterLowerCase)) return true
    if(l.name.toLowerCase().includes(filterLowerCase)) return true
    return false
  })
  .slice(0,30)
})

/**
 * on the touchscreen (chromium webview) the v-model is somehow broken.
 * there are no update events before pressing the "submit" button on the on screen keyboard
 * using the keyup event works
 */
const onKeyUp = async (event: any) => {
  filter.value = event.target.value
}
</script>


<template>
  <article>
    <header>
      <a href="#close" aria-label="Close" class="close" @click="emit('close')"></a>
      <h5>Add a language</h5>
    </header>
    <input :value="filter" type="text" placeholder="Search languages..." @keyup="onKeyUp">
    <div v-if="!filtered.length">No language found</div>
    <ul class="list">
      <li v-for="lang in filtered" :key="lang.code" class="lang">
        <button @click="emit('add', lang.code)">
          <LanguageBadge :code="lang.code" class="lang-badge" />
          <span class="lang-label">{{ lang.name }}</span>
        </button>
      </li>
    </ul>
  </article>
</template>

<style scoped>
article {
  min-width: 70%;
  align-self: flex-start;
  --block-spacing-vertical: calc(var(--spacing) * 2);
}
h5 {
  margin: 0;
}
header {
  margin-bottom: 1em;
}
.list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr) );
}

.list button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  text-align: left;
  display: flex;
  align-items: center;
}

.list .lang-badge {
  margin-right: var(--spacing);
  white-space: nowrap;
}
.close {
  height: 1.7rem;
}
</style>
