<template>
  <li class="lang">
    <font-awesome-icon icon="fa-solid fa-tower-broadcast" />
    <LanguageBadge :code="lang" class="lang-badge" />
    <span class="lang-label">{{ langName }}</span>

    <select :value="transmitter.txChannel" @change="setChannel">
      <option value="">not set</option>
      <option v-for="option in channelOptions" :value="option.value" :key="option.value">
        {{ option.freq }} MHz
      </option>
    </select>
    <button class="secondary lang-delete" @click="$emit('delete')">
      <font-awesome-icon icon="fa-solid fa-trash" size="xs" />
    </button>
  </li>
</template>

<script lang="ts" setup>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import LanguageBadge from './LanguageBadge.vue'
import { useLanguageFromCode } from '@src/composables/useLanguageFromCode'
import { Element } from '@controller/src/types'
import { computed } from 'vue'

import useConfigStore from "@src/stores/config";
import { calculateFrequency, calculateMaxChannelIndex } from '../../utils/frequencies'

const configStore = useConfigStore();

const props = defineProps<{
  transmitter: Element,
  txBaseFreq: number
}>()

const emit = defineEmits<{
  (e: 'delete'): void,
  (e: 'update', int: Partial<Element>): void,
}>()


const lang = computed(() => {
  return props.transmitter.langs[0]?.accepts || ''
})
const langName = lang ? useLanguageFromCode(lang) : ''

const maxChannelIndex = computed(() => calculateMaxChannelIndex(configStore.txBandwith))

const channelOptions = computed(() => {
  const opts = []
  for(let ch=-maxChannelIndex.value; ch <= maxChannelIndex.value; ch++) {
    opts.push({
      value: ch,
      freq: calculateFrequency(props.txBaseFreq, ch)
    })
  }
  return opts
})

const setChannel = (e: any) => {
  const channel = e.target.value.length ? parseInt(e.target.value) : null

  emit('update', {
    id: props.transmitter.id,
    txChannel: channel as any
  })
}


</script>

<style>

.lang {
  display: flex;
  gap: var(--spacing);
}
.lang { align-items: center; }


.lang-badge {
  flex: 0 0 auto;
}
.lang-label {
  flex: 1 1 100%;
}
.lang-delete {
  --form-element-spacing-vertical: 2px;
  --form-element-spacing-horizontal: 0.9em;
  flex: 0 1 auto;
  margin: 0;
  width: auto;
}

.new-lang button {
  width: fit-content;
}
select {
  margin: 0;
  font-size: 0.7em;
}


</style>
