<template>
  <section>
    <h3>{{ t("settings.whatTransmitted") }}</h3>
    <ul>
      <TransmitterEntry
        v-for="tx in transmitters"
        :key="tx.id"
        :transmitter="tx"
        :txBaseFreq="txBaseFreq"
        @update="updateTransmitter"
        @delete="deleteTransmitter(tx.id)"
      />
    </ul>

    <div v-if="furtherLanguages.length">
      <div>{{ t('settings.createTransmitterFor') }}</div>

      <LanguageBadge
        v-for="lang in furtherLanguages"
        :key="lang"
        :code="lang"
        clickable
        class="lang-button"
        @click="createTransmitter(lang)"
      />
    </div>

    <div class="freqinfo">
      <small>
        {{ t('settings.frequencyRangeOutput', { lowest: lowestFreq, highest: highestFreq }) }}
        <a href="#" @click="isBaseFreqModelOpen = true">{{ t('settings.frequencyRangeChange') }}</a>
      </small>
    </div>


    <dialog ref="modal" :open="isBaseFreqModelOpen">
      <article>
        <h3>{{ t('settings.frequencyRange') }}</h3>
        <p>
          {{ calculateFrequency(newBaseFreq.freq, -maxChannelIndex) }} - {{ calculateFrequency(newBaseFreq.freq, maxChannelIndex)  }} Mhz
            <input
              type="range"
              :value="newBaseFreq.freq*10"
              @input="onBaseFreqUpdate"
              :min="Math.round(parseFloat(lowestPossibleCenterFreq)*10)"
              :max="Math.round(parseFloat(highestPossibleCenterFreq)*10)"
              :step="2"
              id="range"
              name="range"
            />
        </p>
        <footer>
          <a href="#cancel"
            role="button"
            class="secondary"
            @click="isBaseFreqModelOpen = false">
            {{ t('cancel') }}
          </a>
          <a href="#confirm"
            role="button"
            @click="setBaseFreq">
            {{ t('confirm') }}
          </a>
        </footer>
      </article>
    </dialog>
  </section>
</template>


<script lang="ts" setup>
import { computed, ref, nextTick, reactive } from "vue";
import { useI18n } from "vue-i18n";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { Element, ElementType } from "@controller/src/types";
import useConfigStore from "@src/stores/config";
import TransmitterEntry from "./TransmitterEntry.vue";
import LanguageBadge from './LanguageBadge.vue'
import { calculateFrequency, calculateMaxChannelIndex } from '../../utils/frequencies'


const configStore = useConfigStore();

const { t } = useI18n();

const props = defineProps<{
  transmitters: Element[];
  txBaseFreq: number;
  enabledLangs: string[];
}>();

const newBaseFreq = reactive({
  freq: props.txBaseFreq
})

const maxChannelIndex = computed(() => calculateMaxChannelIndex(configStore.txBandwith))
const lowestFreq = computed(() => calculateFrequency(props.txBaseFreq, -maxChannelIndex.value))
const highestFreq = computed(() => calculateFrequency(props.txBaseFreq, maxChannelIndex.value))

const FM_MIN = 88.0;
const FM_MAX = 108.0;
const lowestPossibleCenterFreq = computed(() => calculateFrequency(FM_MIN, maxChannelIndex.value))
const highestPossibleCenterFreq = computed(() => calculateFrequency(FM_MAX, -maxChannelIndex.value))

const isBaseFreqModelOpen = ref(false)

const furtherLanguages = computed(() => {
  return props.enabledLangs.filter(
    (l) => !props.transmitters.find((t) => t.langs[0].accepts === l)
  );
});

const emit = defineEmits<{
  (e: "update:transmitters", value: Element[]): void;
  (e: "update:txBaseFreq", value: number): void;
}>();

const createTransmitter = (lang: string) => {
  let nextId = 1
  while(props.transmitters.find(i => i.id === `tx${nextId}`)) {
    nextId++;
  }
  emit("update:transmitters", [
    ...props.transmitters,
    {
      id: "tx"+nextId,
      type: ElementType.Transmitter,
      langs: [ { accepts: lang }],
      txChannel: null
    }
  ]);
}

const updateTransmitter = (transmitter: Partial<Element>) => {
  const transmitters = [...props.transmitters];
  const index = transmitters.findIndex((e) => e.id === transmitter.id);
  transmitters[index] = {
    ...transmitters[index],
    ...transmitter,
  };

  emit("update:transmitters", transmitters);
};

const deleteTransmitter = (id: string) => {
  emit(
    "update:transmitters",
    props.transmitters.filter((int) => int.id !== id)
  );
};

const onBaseFreqUpdate = (e: any) => {
  newBaseFreq.freq = parseInt(e.target?.value)/10
}

const setBaseFreq = () => {

  emit("update:txBaseFreq", newBaseFreq.freq)

  // if possible update the txChannel so that the frequency stays the same
  const freqDiff = newBaseFreq.freq - props.txBaseFreq
  const channelDiff = Math.round(freqDiff / 0.2)
  const maxChannel = configStore.txBandwith/0.2
  emit("update:transmitters", props.transmitters.map(t => {
    let newChannel = t.txChannel ? t.txChannel - channelDiff : null
    // is channel valid?
    if(newChannel !== null && (newChannel < 0 || newChannel > maxChannel)) newChannel = null
    return {
      ...t,
      txChannel: newChannel
    }
  }))

  isBaseFreqModelOpen.value = false
}
</script>

<style scoped>
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
small {
  opacity: 0.5;
}
.freqinfo {
  margin-top: var(--spacing);
}
.lang-button {
  margin-right: 0.2em;
}
</style>
