<script setup lang="ts">
import { computed } from "vue";
import VuMeter from "../components/VuMeter.vue";
import MixerMatrix from "../components/MixerMatrix.vue";
import LanguageFooter from '../components/LanguageFooter.vue'

import useMixerStore from '../stores/mixer'
import useConfigStore from '../stores/config'
import usePrefsStore from '../stores/preferences'

const mixerStore = useMixerStore()
const configStore = useConfigStore()
const prefsStore = usePrefsStore()

const inputChannelCount = computed(() => mixerStore.inputChannelCount)
const pflOutput = computed(() => configStore.getOutputChannelById('monitor'))
const activePflChannels = computed(() => mixerStore.activePflChannels)
const togglePfl = (inputChannel: number) => {
  if(activePflChannels.value.includes(inputChannel)) {
    prefsStore.setInputChannelPFL(inputChannel, false)
  } else {
    prefsStore.setInputChannelPFL(inputChannel, true)
  }
}


</script>

<template>
  <div class="page">
    <div class="container-fluid">
      <div class="mixer">
        <div class="left-side">
            <div v-for="index in inputChannelCount" :key="index" class="channel-strip">
              <div class="meter-wrapper">
                  <vu-meter :channel="index" type="input" :gain="1" />
              </div>
              <button v-if="pflOutput" :class="activePflChannels.includes(index) ? 'primary' : 'secondary'" @click="togglePfl(index)">PFL</button>
            </div>
        </div>
        <mixer-matrix />
      </div>
    </div>
    <language-footer />
  </div>
</template>

<style scoped>
.page {
    display: flex;
    flex-direction:column;
    height: 100%
}
.left-side {
  padding-top: 7px;
}
.mixer {
  display: flex;
}
.container-fluid {
  padding: var(--spacing);
  display: flex;
  flex-grow: 1;
}
.channel-strip {
  /* we use an absolute pixel value here to align the rows with the ones in the mixer matrix svg */
  height: 25px;
  display: flex;
}
.channel-strip button {
  padding: 0;
  height: 90%;
  width: 3em;
  font-size: 0.5em;
}
.meter-wrapper {
  height: 100%;
  width: 120px;
  padding-top: 10px;
  margin-right: calc(var(--spacing)/2);
}
.meter-wrapper > div {
  transform: rotate(90deg);
  height: 100px;
}
</style>
