<script setup lang="ts">
import { computed, ref } from "vue";
import usePrefsStore from "../stores/preferences";
import { ElementType } from "../../../controller/src/types";
import LanguageFooter from "../components/LanguageFooter.vue";
import MixerElement from "../components/mixer/MixerElement.vue";

const prefsStore = usePrefsStore();
const interpreter = computed(() => {
  return prefsStore.elements.filter((el) => el.type == ElementType.Interpreter);
});
const transmitter = computed(() => {
  return prefsStore.elements.filter((el) => el.type == ElementType.Transmitter);
});
</script>

<template>
  <div class="page">
    <div class="mixer">
      <mixer-element id="stage" />
      <mixer-element v-for="int of interpreter" :id="int.id" :key="int.id" />
      <div class="spacer" />
      <mixer-element v-for="tx of transmitter" :id="tx.id" :key="tx.id" />
    </div>
    <language-footer />
  </div>
</template>

<style scoped>
.page {
  width: 100%;
  overflow-x: auto;
}
.mixer {
  flex-grow: 1;
  display: flex;
  overflow-x: auto;
  width: 100%;
}
.language-label {
  align-self: center;
  padding: var(--spacing);
  font-weight: bold;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
footer {
  display: flex;
  border-top: var(--border-width) solid var(--code-color);
  padding: var(--spacing);
}
.spacer {
  flex-grow: 1;
  border-left: 1px solid var(--color);
}
</style>
