<script setup lang="ts">
import { ref, reactive, computed } from 'vue'
import { useI18n } from 'vue-i18n'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import usePrefsStore from '../stores/preferences'
import LanguageSelection from '../components/settings/LanguageSelection.vue'
import InterpreterConfiguration from '../components/settings/InterpreterConfiguration.vue'
import TransmitterConfiguration from '../components/settings/TransmitterConfiguration.vue'
import { ElementType } from '@controller/src/types'
import { onBeforeRouteLeave } from 'vue-router'

const prefsStore = usePrefsStore()
const preferences = reactive({
  enabledLangs: prefsStore.enabledLangs,
  interpreters: prefsStore.elements.filter(el => el.type === ElementType.Interpreter),
  transmitters: prefsStore.elements.filter(el => el.type === ElementType.Transmitter),
  txBaseFreq: prefsStore.txBaseFreq,
})

const isLoading = ref(false)
const savePreferences = async () => {
  isLoading.value = true
  try {
    await prefsStore.setPreferences({
      enabledLangs: preferences.enabledLangs,
      txBaseFreq: preferences.txBaseFreq
    })
    await prefsStore.setInterpreters(preferences.interpreters)
    await prefsStore.setTransmitters(preferences.transmitters)
  } finally {
    isLoading.value = false
  }
}


const hasChanged = computed(() => {
  if(prefsStore.enabledLangs.join(',') !== preferences.enabledLangs.join(',')) return true
  if(prefsStore.txBaseFreq !== preferences.txBaseFreq) return true
  if(JSON.stringify(prefsStore.elements.filter(el => el.type === ElementType.Interpreter)) !== JSON.stringify(preferences.interpreters)) return true
  if(JSON.stringify(prefsStore.elements.filter(el => el.type === ElementType.Transmitter)) !== JSON.stringify(preferences.transmitters)) return true
  return false
})
const { t } = useI18n()


onBeforeRouteLeave((to, from, next) => {
  // no changes? continue immediately
  if(!hasChanged.value) next(true)
  else next(confirm(t('settings.unsavedWarnPrompt')))
})
</script>

<template>
  <div class="container-fluid padding-block">
    <div class="save-bar">
      <div v-if="hasChanged" class="unsaved-info">
        <font-awesome-icon :icon="['fas', 'circle-exclamation']" />
        unsaved changes
      </div>
      <button @click="savePreferences()" :aria-busy="isLoading" :disabled="!hasChanged">
        {{ t('settings.apply') }}
      </button>
    </div>
    <div class="grid">
      <LanguageSelection
        v-model:enabledLangCodes="preferences.enabledLangs"
        class="settings-area"
      />
      <InterpreterConfiguration
        v-model:interpreters="preferences.interpreters"
        :enabledLangs="preferences.enabledLangs"
        class="settings-area"
      />
      <TransmitterConfiguration
        v-model:transmitters="preferences.transmitters"
        v-model:txBaseFreq="preferences.txBaseFreq"
        :enabledLangs="preferences.enabledLangs"
        class="settings-area"
      />
    </div>
  </div>
</template>

<style scoped>
.settings-area {
  max-width: 26rem;
}
.save-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: var(--spacing);
}
.save-bar button {
  max-width: 15em;
  margin: 0;
}
.unsaved-info {
  margin-right: var(--spacing);
  color: var(--form-element-active-border-color);
}
</style>
