<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import useConfigStore from '../stores/config'
import { computed } from 'vue'

const { t, tm, rt } = useI18n() as any

const greetings = useConfigStore().greetings
</script>

<template>
  <section class="grid">
    <div class="brand">
      <img src="/logo.svg" class="logo" alt="brabbelbox logo" />
      <h1>
        {{ t('welcome.welcome') }}
      </h1>
      <small>{{ greetings }}</small>
    </div>
    <div class="instructions">
      <p>
        <i18n-t keypath="welcome.settingsIntro" tag="span">
          <template v-slot:tab>
            <b><font-awesome-icon icon="fa-solid fa-gear" />{{ t('nav.settings') }}</b>
          </template>
        </i18n-t>
        <ul>
          <li v-for="item in tm('welcome.settingsInstructions')" :key="item">{{ rt(item) }}</li>
        </ul>
      </p>
      <p>
        <i18n-t keypath="welcome.mixerIntro" tag="span">
          <template v-slot:tab>
            <b><font-awesome-icon icon="fa-solid fa-sliders" /> {{ t('nav.mixer') }}</b>
          </template>
        </i18n-t>
        <ul>
          <li v-for="item in tm('welcome.mixerInstructions')" :key="item">{{ rt(item) }}</li>
        </ul>
      </p>

      <i18n-t keypath="welcome.onAirToggle" tag="p">
        <template v-slot:label>
          <b><font-awesome-icon icon="fa-solid fa-tower-broadcast" /> {{ t('nav.outputtoggle.label') }}</b>
        </template>
      </i18n-t>

      <router-link to="/settings" role="button">
        {{ t('welcome.start') }}
      </router-link>
    </div>
  </section>
</template>

<style scoped>
section {
  display: grid;
  place-items: center;
  height: 100%;
}

small {
  opacity: 0.3;
}
.logo {
  height: 4em;
}
@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
  }
}

.brand {
  text-align: center;
  width: 70%;
}
.instructions {
  text-align: start;
}
.instructions ul {
  margin-left: 1em;
}
</style>
