<script setup lang="ts">
import { ref, onUnmounted } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { useI18n } from 'vue-i18n'
import usePrefsStore from './stores/preferences'
import useConfigStore from './stores/config'
import useMeterStore from './stores/meter'
import useMixerStore from './stores/mixer'
import useStatusStore from './stores/status'
import OutputToggle from './components/navbar/OutputToggle.vue'
import Status from './components/navbar/Status.vue'
import { connect, disconnect } from './api/controllerWs'

const { t, locale, availableLocales } = useI18n()
const isLoading = ref(true)

useConfigStore().fetchConfig()
.then(() => {
  usePrefsStore().start()
  useMeterStore().start()
  useMixerStore().start()
  useStatusStore().start()
})
.then(connect)
.then(() => {
  isLoading.value = false
})

onUnmounted(() => {
  disconnect()
})
</script>

<template>
  <nav class="container-fluid">
    <ul>
      <li>
        <router-link to="/welcome" class="home">
          <img src="/logo.svg" class="logo" alt="brabbelbox logo" />
          <strong>Brabbelbox</strong>
        </router-link>
      </li>
      <Status />
    </ul>
    <ul>
      <li v-if="availableLocales.length > 1">
        <select v-model="locale">
          <option v-for="locale in availableLocales" :value="locale">
            {{ locale }}
          </option>
        </select>
      </li>
      <li class="nav-light">
        <router-link to="/debug" :title="t('nav.debug')">
          <font-awesome-icon icon="fa-solid fa-bug" />
          {{ t('nav.debug') }}
        </router-link>
      </li>
      <li>
        <router-link to="/settings" :title="t('nav.settings')">
          <font-awesome-icon icon="fa-solid fa-gear" />
          {{ t('nav.settings') }}
        </router-link>
      </li>
      <li>
        <router-link to="/mixer" :title="t('nav.mixer')">
          <font-awesome-icon icon="fa-solid fa-sliders" />
          {{ t('nav.mixer') }}
        </router-link>
      </li>
      <OutputToggle />
    </ul>
  </nav>
  <main>
    <div v-if="isLoading" aria-busy="true"></div>
    <router-view v-else></router-view>
  </main>
</template>

<style scoped>
nav {
  background-color: var(--code-background-color);
}
.nav-light {
  opacity: 0.3;
}
.home strong {
  color: var(--h1-color);
}
.logo {
  height: 2em;
  margin-right: 0.5em;
}
@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
  }
}

.version {
  padding-left: 1em;
  opacity: 0.3;
}
ul {
  gap: calc(var(--spacing)/2);
}
main {
  overflow-y: auto;
  overflow-x: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}
[aria-busy="true"] {
  place-self: center;
}

.router-link-active  {
  --background-color: var(--primary-focus);
}
</style>
