html, body {
  height: 100%;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  max-height: 100%;
}

.padding-block {
  padding-block: var(--spacing);
}

h1 { --typography-spacing-vertical: 2rem; }
h2 { --typography-spacing-vertical: 1.625rem; }
h3 { --typography-spacing-vertical: 1.25rem; }
h4 { --typography-spacing-vertical: 0.874rem; }
h5 { --typography-spacing-vertical: 0.6875rem; }
